.container {
    display: flex;
    flex-direction: row;
}

.folders {
    flex: 1;
    height: 96vh;
    overflow-y: scroll;
    max-width: 20vw;
    min-width: 15vw;
}

.files {
    flex: 5;
    max-width: 80vw;
}
